// Add your custom CSS here.
//Fonte
body {
    font-family: Poppins, sans-serif !important;
}
// cabeçalho
#header {
  background-color: #111111;
}
.top-bar__nav {
    max-width: 100%;
}
i.fab.fa-facebook,  i.fab.fa-instagram, i.fab.fa-pinterest {
    font-size: 18px;
}
.top-bar {
  background-color: var(--primary-lightest);
  font-size: var(--font-size-sm);
}
.top-bar__page-links a {
    font-weight: 400;
}
.top-bar a, .header__toggler span, .header__toggler svg, a#user-button.btn.btn-lg, a#cart-button.btn.btn-lg {
  color: #fff;
}
.header__buttons .btn .badge {
  background-color: var(--primary-lightest);
}
input#search-input.header__search-input.form-control {
    font-size: 15px;
}
button.header__search-btn {
    background: var(--primary-lightest);
    border-radius: 0rem .3rem .3rem 0rem;
    right: .1rem;
}
i.header__toggler-icon.fas.fa-bars {
    color: #fff;
}
#search-bar i.fas.fa-search  {
    color: #fff;
}
button#mobile-search-btn.d-lg-none.btn.btn-lg, button#mobile-search-btn.d-lg-none.btn.btn-lg.collapsed {
    color: #fff;
}
nav.header__nav > a {
    color: #fff;
    padding: 0 var(--spacer-3);
}
//Menu lateral
.menu__btn.menu__btn--close {
  color: var(--primary-lightest);
}
.menu__btn.btn.collapsed {
  color: var(--primary-lightest);
}
.menu__item {
  background: #d3d3d3;
}
a#c-5e3dcaf862887026009f7499, a#c-5e3dcafc62887026009f74a1, a#c-5e3dcaf562887026009f7493 { 
    display: none;
}
// main
// hide banner in to mobile
@media (max-width: 468px) {
  .responsive-baner {
    display: none;
  }
div.banners-grid.my-3.my-md-4.my-lg-5 > div.col-12.col-lg-4.mb-3.mb-lg-0 {
   max-width: 32%;
   padding-right: 5px;
   padding-left: 10px;
 }  
}
.products-carousel__title {
  font-size: 1.3rem;
}
.product-card button, .product-card button:hover {
  color: #fff;
  background-color: #5cb85c !important;
  border-color: #5cb85c !important;
  border-radius: 7px;
  box-shadow: none;
}
.product__buy button, .product__buy button:hover {
  color: #fff;
  background-color: #5cb85c !important;
  border-color: #5cb85c !important;
  text-align: center;
  border-radius: 7px;
  width: 100%;
}
.minicart__btn-checkout.btn.btn-block.btn-primary {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
//Pagina do produto
.product__name {
    font-size: 1.8rem;
}
body#page-products span.prices__compare > s {
    margin-left: .5rem;
    margin-right: .5rem;
}
.prices__discount {
    margin-top: 5px;
}
body#page-products .prices__discount > span {
    color: #b70000;
}    
.prices--big .prices__value {
    font-size: 1.8rem;
}
div#product-payment-1250.mb-3  {
    display: none;
}
div.html-clearfix {
    text-align: justify;
}
div.product__free-shipping-from {
    display: none;
}
body#page-products div.prices.prices--literal.prices--big, body#page-products div.mb-2 {
    margin-top: 1.2rem;
}
body#page-products span.product__discount {
    display: none;
}
@media (min-width: 767px) {
  #product-description .html-clearfix img  {
   max-width: 50% !important;
}
} 
#page-products p.product__sku {
    margin-bottom: 0 !important;
}
.page--products .product__prices .prices__installments:before {
    content: "";
    background-image: url(https://www.kelvys.com.br/img/uploads/credit-card.png);
    width: 16px;
    height: 13px;
    display: inline-block;
    margin-right: .3rem;
    vertical-align: middle;
}
.page--products .product__prices .prices__discount:before {
    content: "";
    background-image: url(https://www.kelvys.com.br/img/uploads/qr-code.png);
    width: 16px;
    height: 13px;
    display: inline-block;
    margin-right: .3rem;
    vertical-align: middle;
}
//Oculta informações pagamento, compartilhamento e estoque
.product__payment.card.mb-3, #product-actions .btn.share, .product__short-stock {
   display: none;
}
// footer
footer.footer.py-3.py-lg-4.py-xl-5 {
    font-size: .95rem;
}
div.col-12.col-xl-5.order-lg-first > p {
    text-align: justify;
}
.footer address {
  display: none;
}
.footer__credits {
  text-align: center;
  border-top: 1px solid #111111;
}
@media (min-width: 767px) {
   .footer__stamps {
       width: 1140px;
 }
.footer__stamps > ul.stamps {
    justify-content: center;
 }
}
.title-pagamento > b {
    font-size: var(--font-size-lg);
    font-weight: var(--font-light);
    color: var(--dark);
}
.footer__social .fab.fa-facebook, .footer__social .fab.fa-instagram, .footer__social .fab.fa-pinterest {
    font-size: 25px !important;
}
// checkout
.app__header {
  background: #111111;
  box-shadow: 0 1px 10px 0 var(--primary-lightest);
  color: #fff;
}
.app__contact span:not(:first-child) {
  color: #fff;
}
.app__contact span {
  color: var(--primary-lightest);
}
.app__safe {
  color: #fff;
}
.app__stamps > .stamps {
  justify-content: center;
}
.minicart__btn-checkout.btn, .cart__info .cart__btn-checkout {
  font-size: 0px;
}
.minicart__btn-checkout.btn::after, .minicart__btn-checkout.btn svg, .cart__info .cart__btn-checkout::after, .cart__info .cart__btn-checkout svg {
  font-size: 1rem !important;
  content: 'Finalizar compra';
  margin-left: .2rem;
}
a.payment__gateway.list-group-item.list-group-item-action {
    border: 1px solid var(--primary-lightest);
    background: #f7f7f7;
}
a.payment__gateway.list-group-item.list-group-item-action > img.payment__stamp {
    max-width: 75%;
}
aside.minicart__aside.card.shadow {
    width: 335px;
}
//Icone Whatsapp
#ws_icon_chat {
    position: fixed;
    bottom: 20px;
    left: 13px;
    z-index: 2000;
    cursor: pointer;
    outline: none !important;
}
#ws_icon_chat img {
    width: 42px !important;
    margin-right: 20px
}
//Mailchimp
#mc_embed_signup h2 {
    font-weight: 400 !important;
    font-size: 1.3em !important;
    color: #fff;
}
#mc_embed_signup .mc-field-group label {
    color: #fff;
}
div#mce-error-response.response {
    color: #6969 !important;
}
div#mce-error-response.response > a {
    color: #696 !important;
}
//Esconde campos na busca
div.search-engine__filter.search-engine__filter--cor, div.search-engine__filter.search-engine__filter--idade {
    display: none;
}
//Pagina de depoimentos
#iframeML-block { 
    width: 100%; 
    height: 2000px; 
    overflow: hidden; 
    position: relative; 
    border-radius: 6px;
}
#iframeML { 
    position: absolute; 
    top: -230px; 
    width: 100%; 
    height: 2200px;
}
//Google Avaliações
#___ratingbadge_0 {
    display: none !important;
}
//Opiniões Verificadas
#page-home .product-card .netreviews_review_rate_and_stars {
    margin-top: -10px;
}
#netreviews_reviews_tab {
    width: 75% !important;
    font-family: Poppins,sans-serif !important;
}
p.netreviews_customer_review {
    font-size: 1rem;
    font-family: Poppins, sans-serif !important;
}
#page-home div.netreviews_reviews_rate  {
    font-size: 0 !important;
}
div.recommended-products div.netreviews_reviews_rate  {
    font-size: 0 !important;
}
//Instagram Rodapé
#page-home section.md-content.mb-5.pt-1.pt-sm-2.pt-lg-3 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: -20px;
}
 #page-home section.md-content.mb-5.pt-1.pt-sm-2.pt-lg-3 img {
     margin-right: 3px;
     width: 30px;
}
//Vídeo responsivo blog
.embed-container-youtube {
 position: relative;
 padding-bottom: 56.25%;
 height: 0;
 overflow: hidden;
 max-width: 100%;
 height: auto;
 margin-top: 30px;
 margin-bottom: 30px;
}
.embed-container-youtube iframe, .embed-container-youtube object, .embed-container-youtube embed {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}
//Texto post blog
div.blog-post section.md-content.mb-5.pt-1.pt-sm-2.pt-lg-3 {
    text-align: justify;
}
#page-blog div.card-body {
    text-align: justify;
}
.info-additional li {
  i {
    margin-right: 14px;
    float: left;
    height: 30px;
  }
  list-style: none;
  border-bottom: 1px solid #fff;
  padding: 12px 14px;
}
.info-additional ul {
  background-color: #F5F5F5;
  border: var(--border-width) solid var(--border-color);
  padding: 0px;
}
