// Add your custom CSS here.
// cabeçalho
#header {
  background-color: #1c1c1c;
}
.top-bar {
  background-color: #c00;
}
.top-bar a, .header__toggler span, .header__toggler svg, #user-button svg, #cart-button svg {
  color: #fff;
}
.header__buttons .btn .badge {
  background-color: #c00;
}
// main
// hide banner in to mobile
@media (max-width: 468px) {
  .responsive-baner {
    display: none;
  }
  .banners-grid {
    display: none;
  }
}
// footer
.footer address {
  display: none;
}
.footer__credits {
  text-align: center;
  border-top: 1px solid #000;
}
