// Add your custom CSS here.
//Fonte
body {
    font-family: Poppins;
}
// cabeçalho
#header {
  background-color: #1c1c1c;
  box-shadow: 0 1px 10px 0 #696969; 
}
.top-bar__nav {
    max-width: 100%;
}
svg.svg-inline--fa.fa-facebook.fa-w-16 {
    font-size: 18px;
}
svg.svg-inline--fa.fa-instagram.fa-w-14 {
    font-size: 18px;
}
.top-bar {
  background-color: #b70000;
  font-size: 13px;
}
.top-bar__page-links a {
    font-weight: 400;
}
.top-bar a, .header__toggler span, .header__toggler svg, #user-button svg, #cart-button svg {
  color: #fff;
}
.header__buttons .btn .badge {
  background-color: #b70000;
}
input#search-input.header__search-input.form-control {
    font-size: 15px;
}
button.header__search-btn {
    background: #696969;
    border-radius: 0rem .4rem .4rem 0rem;
    right: .1rem;
 }
button.header__search-btn > svg.svg-inline--fa.fa-search.fa-w-16 {
    width: .8em;
    color: #fff;
}
nav.header__nav > a {
    color: #fff;
    padding: 0 var(--spacer-3);
}
//Menu lateral
.menu__btn.menu__btn--close {
  color: #696969;
}
.menu__btn.btn.collapsed {
  color:#696969;
}
.menu__item {
  background: #d3d3d3;
}
//Espaço do topo
div.sections.pb-1.pb-sm-2.pb-lg-4 {
  margin-top: 10px;
}
@media (max-width: 767px) {
div.sections.pb-1.pb-sm-2.pb-lg-4 {
    margin-top: 5px;
 }
}
// main
// hide banner in to mobile
@media (max-width: 468px) {
  .responsive-baner {
    display: none;
  }
  .banners-grid {
    display: none;
  }
}
.products-carousel__title {
  font-size: 1.3rem;
}
.product-card button, .product-card button:hover {
  color: #fff;
  background-color: #5cb85c !important;
  border-color: #5cb85c !important;
  border-radius: 7px;
  box-shadow: none;
}
.product__buy button, .product__buy button:hover {
  color: #fff;
  background-color: #5cb85c !important;
  border-color: #5cb85c !important;
  text-align: center;
  border-radius: 7px;
  width: 100%;
}
.minicart__btn-checkout.btn.btn-block.btn-primary {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.minicart__btn-checkout.btn.btn-block.btn-primary::after {
content: " Finalizar pedido";
}
//Pagina do produto
picture.lozad.fade.img-fluid.show > img {
    border-radius: 20px;
}
.product__name {
    font-size: 1.5rem;
}
.product__sku {
    font-size: .75rem;
}
.prices__compare {
    font-size: .9rem;
}
.prices__discount {
    margin-top: 5px;
}
//Esconde variação cor e quantidade
.product__short-stock {
    display: none;
}
// footer
footer.footer.py-3.py-lg-4.py-xl-5 {
    font-size: .95rem;
}
div.col-12.col-xl-5.order-lg-first > p {
    text-align: justify;
}
.footer address {
  display: none;
}
.footer__credits {
  text-align: center;
  border-top: 1px solid #000;
}
//Box Newsletter Benchmark
.formbox-editor-950475 {  border-radius: 15px; }
 @media (min-width: 1010px)  {
   div.formbox-editor-950475 .formbox-title-950475 {
     font-family: Poppins,Poppins,sans-serif !important;
   }
   div.formbox-editor-950475 input.formbox-field-950475 {
     font-family: Poppins, Poppins, sans-serif;
     width: 90%;
   }
   div.formbox-editor-950475 button.formbox-button-950475 {
     font-family: Poppins, Poppins, sans-serif !important;
     margin: -50px 0;
     float: right;
   }
 }
// checkout
.app__header {
  background: #1c1c1c;
  box-shadow: 0 1px 10px 0 #696969;
  color: #fff;
}
.app__contact span:not(:first-child) {
  color: #fff;
}
.app__contact span {
  color: #808080;
}
.app__safe {
  color: #fff;
}
.app__stamps > .stamps {
  justify-content: center;
}
